.mission {
    padding-top: 200px;
    padding-bottom: 80px;
    background-color: #000;
    position: relative;
    width: 100%;
    overflow: hidden;

    &__title {
        font-family: 'Anton';
        font-size: 70.3688px;
        line-height: 80px;
        color: #fff;
        margin-bottom: 30px;
        width: 400px;
        text-transform: uppercase;
    }

    &__text {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
        margin-bottom: 20px;
        width: 565px;

    }

    &__btnGroup {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    &__btn {
        padding: 10px 40px;
        border: 3px solid transparent;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #000000;
        outline: none;
        transition: all 0.3s ease;

        &:hover {
            color: goldenrod;
            border-color: goldenrod;
        }
    }
}

@media screen and (max-width: 768px) { 
    .mission {
        padding-top: 20px;
        padding-bottom: 20px;
    
        &__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            margin-bottom: 10px;
            width: 170px;
        }
    
        &__text {
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 15px;
            width: 90%;
    
        }
    
        &__btnGroup {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    
        &__btn {
            width: 100px;
            height: 30px;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 10px !important;
        }
    }

}