// .modalBox {
//     width: 100%;
//     height: 100%;
//     background-color: #000;
// }

.modal-body {
    padding-top: 40px;
    width: 680px !important;
    height: 300px;
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .modal-content {
        margin-left: 5%;
        background-color: #000;
        width: 90% !important;
    }

    .modal-body {
        padding-bottom: 20px;
        padding-top: 20px;
        width: 90% !important;
        height: 190px;
    }

    .modal-input {
        border-right: 2px solid rgba(168, 136, 29, 0.596);
        background-size: cover;
    }
    
}