.production {
    width: 100%;
    height: 100vh !important;
    background-image: url("https://imgur.com/nP80jVU.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000;

    &__infos {
        padding-top: 250px;
        padding-left: 150px;
        color: #fff;
    }

    &__title {
        font-family: 'Anton', sans-serif;
        font-size: 70.3688px;
        line-height: 80px;
        color: #fff;
        width: 520px;
        height: 180px;
        text-transform: uppercase;
    }

    &__text {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 100%;
        color: #fff;
        width: 530px;
        height: 170px;
    }

    // category btns

    &__btnBox {
        position: absolute;
        bottom: 10%;
        left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        gap: 1rem;
    }

    &__categoryBtn {
        color: #fff;
        border: none;
        background-color: transparent;
        outline: none;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        opacity: 0.5;
        text-transform: uppercase;
        transition: all 0.1s ease;
        margin-right: 20px;

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 1;
        }
    }

    &__btnBox {
        margin-bottom: 10px;
    }
}

.activeBtn {
    color: #fff;
}

.category {
    width: 100%;
}