.production {
    width: 100%;
    height: 800px;
    background-image: url("https://imgur.com/nP80jVU.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fff;

    &__infos {
        padding-top: 230px;
        padding-left: 150px;
        color: #fff;
    }

    &__title {
        font-family: 'Anton', sans-serif;
        font-size: 70.3688px;
        line-height: 75px;
        color: #fff;
        width: 520px;
        height: 180px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__text {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 100%;
        color: #fff;
        width: 530px;
        height: 170px;
    }

    // category btns

    &__btnBox {
        position: relative;
        bottom: 4%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        gap: 1rem;
        margin-bottom: 10px;
    }

    &__categoryBtn {
        color: #fff;
        border: none;
        background-color: transparent;
        outline: none;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        opacity: 0.5;
        text-transform: uppercase;
        transition: all 0.1s ease;
        margin-right: 20px;

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 1;
        }
    }
}

.activeBtn {
    color: #fff;
}

.category {
    width: 100%;
}

@media screen and (max-width: 768px) { 
    .production {
        width: auto;
        height: 300px;

        &__infos {
            padding-top: 60px;
            padding-left: 20px;

        }

        &__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            width: 224px;
            height: 100%;
            margin-bottom: 15px;
        }

        &__text {
            width: 80%;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            height: 100%;
            margin-bottom: 53px;
        }

        &__btnBox {
            bottom: 1%;
            left: 0;
            padding-top: 0;
            gap: 0rem;
            margin-bottom: 4px;
        }

        &__categoryBtn {
            font-size: 10px;
            line-height: 15px;
            margin-right: 10px;
        }
    }
}