.slide {
    width: 100%;
    height: 100%;
    position: relative;

    &__img {
        object-fit: cover;
        height: 100vh;
    }

    &__acsess {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.356);
    }

    &__acsessBox {
        overflow: hidden;
    }

    &__btnBox {
        position: relative;
        bottom: 40px;
        // border: 1px solid #ccc;
    }

    &__container {
        width: 1100px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__textRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btnCont {
        margin-right: 100px;
    }
}

.slide-left {
    margin-left: 50px;
}

.slide-volume {
    margin-right: 110px;
}

@media screen and (max-width: 768px) {
    .slide {
        width: 100%;
        height: 330px;
        position: relative;
        background-color: #fff;
    
        &__img {
            object-fit: cover;
            height: 330px;
        }
    
        &__acsess {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.356);
        }
    
        &__btnBox {
            position: relative;
            left: 5%;
            bottom: 0px;
            // border: 1px solid #ccc;
        }

        &__textBox {
            position: absolute;
            bottom: 0;
            // border: 1px solid #fff;
        }
    
        &__container {
            width: 100%;
            margin: 0 auto;
            padding: 0 10px;
        }
    
        &__textRow {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &__btnCont {
            margin-right: 5%;
        }
    }

    .buy-btn {
        width: 80px;
        height: 25px;
    }
}